<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/">
        <label>Name</label>
        <input name="name" type="text">

        <label>age</label>
        <input name="age" type="number">
        <label>Email</label>
        <input name="email" type="email">
        <label>address</label>
        <input name="address" type="text">
        <label>Martial_Status</label>
        <input name="martial_status" type="text">
        <label>income</label>
        <input name="income" type="number">

        <label>Registration Number</label>
        <input name="Registartion_Number" type="text">

        <label>Registration_Date</label>
        <input name="Registration_Date" type="date">


        <button>Submit</button>
    </form>
</body>

</html>